# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bootstrap-3.3.7-dist/js/npm.js
bootstrap-3.3.7-dist/js/bootstrap.min.js
bootstrap-3.3.7-dist/js/bootstrap.js
*.woff2
bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.woff
*.ttf
bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.svg
*.eot
bootstrap-3.3.7-dist/css/bootstrap.min.css.map
*.css
bootstrap-3.3.7-dist/css/bootstrap.css.map
*.map
.idea/workspace.xml
*.xml
.idea/angular-tds.iml
