</!DOCTYPE html>

<html lang="en" ng-app="ListesApp">
<head>
	<title>Choix multiples</title>
	<meta charset="UTF-8">
	<link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://angular.kobject.net/css/css.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="app/NoteApp.js"></script>
	<script src="app/ChoixController.js"></script>
</head>

<body ng-app="TD2" ng-controller="choixController as ctrl">
<div ng-view="" class="toggle ng-scope"><div id="contact" class="ng-scope">
	<div class="panel panel-primary">
		<div class="panel-heading">Contacts</div>
		<div class="panel-body">
			<input type="text" placeholder="Filtrer..." data-ng-model="q" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched">
			<table class="table table-striped" id="lstContact">
				<tbody>
				<tr contact-elem="" class="animate-repeat ng-scope" ng-repeat="contact in ctrl.contacts ">
					<td class="ng-binding">{{ctrl.contacts[$index].name}}</td>
					<td class="ng-binding">{{ctrl.contacts[$index].firstName}}</td>
					<td class="ng-binding">{{ctrl.contacts[$index].mail}}</td>
					<td>
						<a class="btn btn-info btn-xs" ng-click="ctrl.toUpdate(ctrl.contacts[$index])"><buttun class="glyphicon glyphicon-edit" ></buttun> </a>
						<a class="btn btn-danger btn-xs" ng-click="ctrl.delete(ctrl.contacts[$index])"><buttun class="glyphicon glyphicon-remove-circle"></buttun></a>
					</td>

				<tr><td colspan="4">
					<a id="add" href="" ng-click="ctrl.toAdd()" class="btn btn-primary">Ajouter...</a>
					<a id="add" href="" ng-show="" ng-click="cancelOne()" class="btn btn-danger ng-hide">
						<data-ng-pluralize count="contacts.length" when="{'one': 'Annuler la suppression.',
                     'other': 'Annuler les suppressions ({}) .'}">Annuler les suppressions (0) .</data-ng-pluralize>
					</a></td></tr>
				</tbody>
			</table>
			<fieldset data-ng-show="ctrl.form" class="container form-group form-inline">
				<legend class="ng-binding">{{ctrl.operation}}</legend>
				<form name="frmContact" data-ng-submit="update()" novalidate="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
					<input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" ng-model="ctrl.tmpContact.name" placeholder="Entrez un nom..." required="">
					<input class="form-control ng-pristine ng-valid ng-touched" type="text" ng-model="ctrl.tmpContact.firstName" placeholder="Prénom...">
					<input class="form-control ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-touched" type="email" ng-model="ctrl.tmpContact.mail" placeholder="Adresse email..." required="">
					<input type="submit" value="Valider" class="btn btn-primary">
					<input type="button" value="Annuler" ng-click="ctrl.toAdd()" class="btn btn-primary">
				</form>
			</fieldset>
		</div>
	</div>
</div>
</body>
</html>